
<div class="beer-container">
  <div class="beer-cards">
    <a href="/beers/{{this.id}}"><img src={{this.image_url}}></a>
    <h2>{{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <p>{{this.description}}</p>
  </div>
</div>